:root {
  --color-primary: #6283c4;
  --color-primary-hover: #5673ac;
  --color-text: #f0f0f0;
  --color-secondary: #565656;
  --color-secondary-hover: #454545;
  --color-secondary-text: #e0e0e0;
  --color-light: #c9d9fb;
  --color-link: #4f7dc7;
}
